@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Merhaba!</h1>
    <p>
        EvdeKal Covid-19 sebebiyle evden çıkamayan büyüklerimiz ve ihtiyaç sahipleri için kurulmuş gönüllü bir platformdur.
        Gönüllülerimiz siparişleri istedikleri şehre göre aratabilir ve böylelikle yüksek risk grubu vatandaşlarımızın ihtiyaçlarını
        karşılayabilirler.
    </p>*@
</div>
